<!DOCTYPE HTML>
<html>

<head>
<title>Test covid 19</title>
<link href="./style.css" rel="stylesheet" type="text/css" media="all" />
<link href="./bootstrap.css" rel="stylesheet" type="text/css" media="all">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--fonts-->

<script type="text/javascript" src="./jquery-1.11.1.min.js"></script>
<script src="./bootstrap.min.js"></script>

</head>
<body>
<div class="header-bg">
	<div class="container" style="background-color:black;">
		<div class="header" >
			<div class="logo" >
				<h3 style="color:white;">Orientation COVID 19</h3>
			</div>
		</div>		
	   		<div class="menu">
	   			<div class="navbar-header">
	   			 <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
	                <span class="sr-only">Toggle navigation</span>
	                <span class="icon-bar"></span>
	                <span class="icon-bar"></span>
	                <span class="icon-bar"></span>
                </button>
              </div>
	   			<div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                  <li class="home"><a href="./index.html">Accueil</a></li>
				  <li class=""><a href="./Questionnaire.html">Questionnaire</a></li>
				       
              </ul>
            </div>
				<div class="clearfix"></div>
	   		</div>	   	
	</div>

</div>
<div class="main">
 <div class="container">
 
 <div class="content-bot">
	<div class="inner-top">
				<div class="col-md-8  span_1_of_10" >				
		<div class="banner-text"><h5>Vous pensez avoir des symptômes ? Essayez le test en ligne pour vous orientez</h5>
				</div>
			</div>			
				
		</div>
	</div>

	<div class="content-bot">
				<div class="col-md-3 span_1_of_4">				
						<div class="banner-wrap ">
							<div class="banner-top">
								<div><figure class="thumbnail">
								<a href="#" ><img src="./icon4.png"  alt=""></a></figure>
								</div>
							</div>
							<div class="banner-text"><h5>
								Laver vos mains</h5>
								<p>Lavez vos mains pendant au moins 20 secondes avec du savon et l'eau chaude ou utiliser un gel antiseptique</p>
							
							</div>
						</div>				
				</div>
				<div class="col-md-3 span_1_of_4">				
					 <div class="banner-wrap ">
						<div class="banner-top">
							<div><figure class="thumbnail">
							<a href="#"><img src="./icon3.png" alt=""></a></figure>
							</div>
						</div>
						<div class="banner-text"><h5>Utiliser un mouchoir</h5>
							<p>Utiliser le mouchoir pour tousser et éternuer</p>
							<br> 
						</div>
					</div>					
				</div>
				<div class="col-md-3 span_1_of_4">				
						<div class="banner-wrap ">
							<div class="banner-top">
								<div><figure class="thumbnail">
								<a href="#" title="gallery"><img src="./icon1.png" title="world" alt=""></a></figure>
								</div>
							</div>
							<div class="banner-text"><h5>Utilisez le manche de votre habit</h5>
								<p>Si vous n'avez pas de mouchoirs, utilisez le manche de votre habit</p>
							
							</div>
						</div>				
				</div>
				<div class="col-md-3 span_1_of_4">			
					<div class="banner-wrap ">
						<div class="banner-top">
							<div><figure class="thumbnail">
							<a href="#" title="gallery"><img src="./icon5.png" alt=""></a></figure>
							</div>
						</div>
						<div class="banner-text"><h5>Eviter de vous toucher le visage</h5>
							<p>Evitez de vous toucher les yeux, les nez et la bouche avec des mains non lavées</p>
							
						</div>
					</div>				
				</div>

				<div class="clearfix"></div>
	</div>

<footer>
	<div class="content-bot">
	  <div class="section group">
			<div class="row row-8">

				<div class="col-md-3 span_1_of_f">
					<ul>
					<li><a href="index-5.html">Privacy policy</a></li>
					<li><a href="#">Terms &amp; conditions</a></li>
					<li><a href="#">Case studies</a></li>
					</ul>
				</div>
				<div class="col-md-3 span_1_of_f">
					<dl class="address">
					<dt>Contact Utile<br></dt>
					<dd><span>Telephone:</span>80.101.919</dd>
				
					</dl>
				</div>
				<div class="clearfix"></div>
		</div>
	</div>
</div>
</footer>
 <div class="footer-bottom">
	
 	</div>
 	</div>	
</div>
</body>
</html>

    	
    	
            