
<!DOCTYPE HTML>
<html>
<head>
<title>Test covid 19</title>
<link href="./style.css" rel="stylesheet" type="text/css" media="all" />
<link href="./bootstrap.css" rel="stylesheet" type="text/css" media="all">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Ameliorat Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--fonts-->

<script type="text/javascript" src="./jquery-1.11.1.min.js"></script>
<script src="./bootstrap.min.js"></script>

</head>
<body>
<div class="header-bg">
	<div class="container">
	<div class="container" style="background-color:black;">
		<div class="header" >
			<div class="logo" >
				<h3 style="color:white;">Orientation COVID 19</h3>
			</div>		
	   		<div class="menu">
	   			<div class="navbar-header">
	   			 <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
	                <span class="sr-only">Toggle navigation</span>
	                <span class="icon-bar"></span>
	                <span class="icon-bar"></span>
	                <span class="icon-bar"></span>
                </button>
              </div>
	   			<div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                  <li class="home"><a href="index.html">Accueil</a></li>
				  <li class=""><a href="Questionnaire.html">Questionnaire</a></li>
				       
              </ul>
            </div>
				<div class="clearfix"></div>
	   		</div>	   	
	</div>

</div>
<div class="main">
 <div class="container">
 
<div class="content-top "style="margin-top:5%;">
<div class=row>
<div class=" column extra-wrap" >
<h5><span style="color:#D44F66; padding-left:0%;" id=numberQuestion>Question 1/20</span></h5>
</div>
</div>
 <div class="col-md-1 column">
  </div>
  <div class="col-md-10 column" id=QR>

    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title" id=question>
				Pensez-vous avoir eu de la fièvre ces derniers jours (frissons, sueurs) ?
					</h3>
      </div>
      <div class="panel-body" id=proposition>
        <div class="radio">
          <label>
            <input type="radio" name="optionsRadios" id="optionsRadios1" value="oui" checked=""><div id=o>Oui</div></input>
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="optionsRadios" id="optionsRadios2" value="non"><div id=n>Non</div>
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="optionsRadios" id="optionsRadios3" value="sais pas"> <div id=sp>Je ne sais pas</div>
          </label>
        </div>
       
      </div>
      <div class="panel-footer">
        <a href="#" class="btn btn-primary " role="button" id="but" onClick="questionSuivant()">Suivant</a>
    
      </div>
    </div>
    <div class="col-md-1 column">
    </div>
  </div>
</div>
	
</div>


<footer>
	<div class="content-bot">
	  <div class="section group">
			<div class="row row-8">

				<div class="col-md-3 span_1_of_f">
					<ul>
					<li><a href="index-5.html">Privacy policy</a></li>
					<li><a href="#">Terms &amp; conditions</a></li>
					<li><a href="#">Case studies</a></li>
					</ul>
				</div>
				<div class="col-md-3 span_1_of_f">
					<dl class="address">
					<dt>Contact Utile<br></dt>
					<dd><span>Telephone:</span>80.101.919</dd>
	
					</dl>
				</div>
				<div class="clearfix"></div>
		</div>
	</div>
</div>
</footer>
 <div class="footer-bottom">

 	</div>
 	</div>	
</div>
<script src="./QuestionReponse.js"></script>
</body>
</html>

    	
    	
            